body{
background-image: url(../img/fondo.jpg);
}
.contenido{

 
}
.row1{

}
.box1{
    font-size: larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.row2{
    background-color: chartreuse;
}

.box2{
    font-size:medium;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.row3{
    background-color: fuchsia;
}
.box3{
    font-size: 16px;
}
.box4{
    background-color: bisque;
}

.row4{
    background-color: aliceblue;
}
.box5{
background-color: lightsteelblue;
}
.row5{
    background-color: darkslateblue;
}
.box6{
    background-color: darkorange;
}
.row6{
    background-color: greenyellow;
}
.box7{
    background-color: deeppink;
}
.row7{
    background-color: green;
}
.box8{
    background-color: orangered;
}

.row9{
    background-color: darkseagreen;
}
.box9{
    background-color: deeppink;
}
.box10{
    background-color: hotpink;
}

.box11{
    background-color: mediumorchid;
}